.password-requirements {
    text-align: left;
    margin-top: 20px;
    color: var(--text-primary);
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    padding: 0 20px;
}

.password-requirements p {
    margin: 0 0 4px 0;
}

.password-requirements p:last-child {
    margin: 0;
}

.password-requirements p.success {
    color: var(--success-70);
}

.password-requirements p.error {
    color: var(--error);
}