
form {
  padding: 30px;
  text-align: center;
  width: 100%;
  max-width: 375px;
  position: relative;
}

h1 {
  margin-bottom: 40px;
  color: var(--text-primary);
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group:last-of-type {
  margin-bottom: 40px;
}

input {
  width: 100%;
  max-width: 315px;
  height: 48px;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  font-weight: 400;
  color: var(--text-primary);
}

input.text-field.error {
  border-color: var(--error);
  color: var(--error);
}

input.text-field.success {
  border-color: var(--success);
  color: var(--success);
}

input::placeholder {
  color: var(--text-secondary);
}

input:focus {
  border-color: #4A90E2;
  outline: none;
}

input:disabled {
  border-color: var(--disabled-20);
  background-color: var(--disabled-10);
  outline: none;
  cursor: not-allowed;
}

.sign-up-button {
  background: linear-gradient(110.46deg, #70C3FF 12.27%, #4B65FF 93.92%);
  transition: all 0.4s ease;
  color: white;
  padding: 15px 32px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  max-width: 240px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
}

.sign-up-button:hover {
  background: linear-gradient(90deg, #7ED321 0%, #4A90E2 100%);
}
