.password-textfield {
    position: relative;
}

.password-textfield .password-icon {
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 50%;
    transform: translate(0px, -50%);
}

.password-textfield .password-icon.error * {
    fill: var(--error);
}

.password-textfield .password-icon.success * {
    fill: var(--success);
}